:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #d6d6d6;
  --primary: #3b084f;
  --secondary: #ce2d4f;
  --secondary-dark: #97213a;

  --shadow: 0 0px 15px -3px black;
  --shadow-bot: 0 5px 15px -5px black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.wrapper {
  display: flex;
  align-items: center;
}
.routes {
  padding-top: 1rem;
}
