/*NAVBAR*/
.navbar {
  background-color: var(--primary);
  box-shadow: var(--shadow-bot);
  color: white;
  h1 {
    color: white;
    padding: 0.5rem 0;
  }
  .wrapper {
    position: relative;
    justify-content: space-between !important;
  }

  .btn--menu > * {
    cursor: pointer;
  }

  .menu--content {
    overflow: hidden;
    user-select: none;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 100%;
    width: 20%;
    height: 0;
    background-color: var(--secondary);
    box-shadow: var(--shadow);
    border-radius: 0 0 8px 8px;

    .item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      padding: 0.5rem;
    }
  }

  .menu--content > *:hover {
    background-color: var(--secondary-dark);
  }
  .menu--content.view {
    height: max-content;
  }
} /*NAVBAR*/

/*HOME*/
.home {
  .table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--shadow);

    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 2px solid black;
      border-radius: 8px;
      width: 50px;
      height: 50px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;

      h1 {
        font-size: 1.3rem;
      }

      .tooltip {
        opacity: 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        background-color: var(--secondary);
        color: white;
        font-weight: bolder;
        border-radius: 8px 8px 8px 0;
        padding: 0.3rem;
        transition: opacity 0.3s;
      }
    }
    .square:hover {
      background: var(--bg-color);
      .tooltip {
        opacity: 1;
      }
    }
  }
} /*HOME*/

@media (width <= 800px) {
  .menu--content {
    width: 30% !important;
  }
}
@media (width <= 600px) {
  .menu--content {
    width: 40% !important;
  }
}
